@model MdpProject.Models.MdpProductVariant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpProductVariant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDungLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDungLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpMauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpMauSac.MdpMauSacId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSanPham.MdpSanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpVariantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
