@model MdpProject.Models.MdpReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSanPham.MdpSanPhamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpUser.MdpUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
