@model MdpProject.Models.MdpChatSupport

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MdpChatSupport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTinNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTinNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSentAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSentAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpFileDinhKem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpFileDinhKem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDaXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDaXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDonHang.MdpDonHangId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSender.MdpUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MdpChatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
