@model MdpProject.Models.MdpUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MdpUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTenDangNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTenDangNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpMatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpMatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpHoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpHoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpNgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpNgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpGioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpGioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpUpdatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MdpUserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
