@model MdpProject.Models.MdpLaptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpLaptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTenLaptop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTenLaptop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpGpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpGpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpPin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpPin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpHeDieuHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpHeDieuHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSanPham.MdpSanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpLaptopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
