@model MdpProject.Models.MdpCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTenDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTenDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpMoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpMoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpAnhDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpAnhDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpCategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
